
body, html {
  padding-top: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: #3b3a32;
  background-color: #EEECDB;
}
h1, h2 {
  display: inline;
  font-weight: 300;
  line-height: 50px;
}
h1 {
  font-size: 30px
}
h2 {
  font-size: 20px;
}
span {
  background: #3b3a32;
}
.line{
  background: #b9b69b;
  width: auto;
  height: 7px;
}
.boxed {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #D8DECC;
  width: 670px;
  height: auto;
  font-size: 11.5pt;
  font-weight: 300italic;
  font-style: oblique;
}
.boxed2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 25px;
  background: #D8DECC;
  width: 670px;
  height: 10px;
  font-size: 10pt;
  text-align: right;
  font-weight: 300italic;
  font-style: oblique;
}
.mainhead {
  padding-top: 20px;
  padding-right: 45px;
  padding-bottom: 20px;
  width: 800px;
  text-align: left;
}
.main {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 800px;
  text-align: left;
  font-size: 13pt;
}
.navbutton {
  font-family: Montserrat;
  position: absolute;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100px;
  height: 30px;
  background: #b9b69b;
  text-align: center;
  font-size: 11pt;
  display: inline-block;
  font-weight: 700;
  color: #3b3a32;
}
.navbutton:hover{
  position: absolute;
  background: #D8DECC;
  color: #3b3a32;
}
#navselected div {
  position: absolute;
  background: #EEECDB;
  color: #3b3a32;
  box-shadow: 0px -5px 5px #191a16;
}
.navcontainer {
  align: center;
  padding-right: 110px;
  padding-bottom: 18.25px;
  width: auto;
  height: auto;
  position: relative;
}
.divider {
  width: 147px;
  height: auto;
  display: inline-block;  
}
.bottomdivider {
  width: 30px;
  height: auto;
  display: inline-block; 
}
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100%;
}
a {
  text-decoration: none;
}
a.brownfont {
  color: #3b3a32;
}
a.brownfont:hover {
  color: #3b3a32;
}
a.brownfont:visited {
  color: #3b3a32;
}
a.tanfont {
  color: #C7C4A9;
}
a.tanfont:hover {
  color: #C7C4A9;
  text-decoration: underline;
}
a.tanfont:visited {
  color: #C7C4A9;
}