body {
    margin: 0;
    font-size: 14pt;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: 300;
    color: #555;
    line-height: 20pt;
}
@media only screen and (max-width: 450px) {
    body {
        font-size: 11pt;
        line-height: 14pt;
    }
}

.sidebar {
    position: fixed;
    width: 400px;
    height: 100%;
    background-color: #27313e;
    background-image: url(../images/texture_dark.webp);
    text-align: center;
    font-family:  "Segoe UI", "Helvetica Neue", sans-serif;
    box-shadow: 10px 0px 15px rgb(0 0 0 / 20%);
    z-index: 999;
}

.right-content {
    position: fixed;
    overflow-y: scroll;
    left: 407px;
    width: calc(100% - 407px);
    text-align: center;
    height: 100%;
}
.menubar {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1vh 0 0.3vh 0;
    box-shadow: 0px 5px 15px rgb(255 255 255 / 55%);
}
.menubar > ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
li.menulist {
    display: inline-block;
    color: #d3d3d3;
    text-align: center;
    width: 34%;
    margin: 0 1%;
    height: 2.2rem;
    background-color: white;
    font-size: 1.6rem;
    border-bottom: 1px solid #e4e0e0;
}
li.menulist:hover {
    border-color: #444;
    color: #444;
}
li.currentitem {
    border-color: #444;
    color: #444;
}
.bodycontent {
    width: 72%;
    padding-top: 5vh;
    margin: 0 auto;
    word-wrap: break-word;
    text-align: left;
    color: #444;
}
.bodycontent > .bodyheader {
    font-family: "Consolas", "PT Mono", "Menlo", "Courier New", "Courier", monospace;
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 6vh;
    margin-bottom: 8vh;
    color: #444;
}
.bodybody {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.bodybody > .project {
    color: #444;
}
.project > .projhead {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin-bottom: 2.5rem;
    font-size: 1.9rem;
}
.project > .projdocs {
    margin-top: 2rem;
}
.project > pre {
    font-size: 11pt;
    max-height: 25rem !important;
    overflow: auto !important;
}
/* .project > pre > code {

} */
.bodycontent > .bodybody {
    width: 90%;
    margin: 0 auto;
    margin-top: 3vh;
    padding-bottom: 6vh;
}
.resumebody {
    margin: 0 auto;
}
.faceimg {
    height: 245px;
    width: 245px;
    background-image: url("/images/face.webp");
    background-repeat: no-repeat;
    margin: 20% auto 8% auto;
    background-size: cover;
    background-color: #02381f;
    border-radius: 50%;
}
.sidebar > h1 {
    color: #f2f2f2;
    font-weight: 200;
    font-size: 3.25rem;
    line-height: 3rem;
    margin-bottom: 0%;
    padding: 0;
}
.sidebar > h2 {
    color: #ddd;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.sidebar > h3 {
    color: #ddd;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.sidebar > h3 > a {
    color: #ff9647;
    display: inline-block;
    /*border-bottom: 1px solid #f5710f;*/
}
.sidebar > h3 > a:hover {
    border-bottom: 1px solid #ff9647;
}
.sidebar > .sep {
    height: 0.5rem;
}
.sidebar > .reachme {
    color: #bbb;
    font-size: 1.65rem;
    font-weight: 200;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0%;
}
.sidebar > .reachme > .sidelinks {
    margin-bottom: 8%;
    width: 100%;
}
.sidebar > .reachme > .sidelinks > a > span {
    background: transparent;
    color: #dbdbdb;
    font-size: 3.2rem;
    margin: 0 0.8rem;
    display: inline-block;
    padding: 0.4rem 0;
}
.sidebar > .reachme > .sidelinks > a {
    color: #dbdbdb;
    text-decoration: none;
}
.sidebar > .reachme > .sidelinks > a > span:hover {
    color: #fff;
    background-color: #212835;
    text-decoration: none;
}
.sidebar > .reachme > a {
    color: #ccc;
    text-decoration: none;
}
.sidebar > .reachme > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #262c38;
}
a {
    text-decoration: none;
}

.bodybody > .project > p > a, a.projlink {
    color: #3273ea;
}

.bodybody > .project > p > a, a.projlink:hover {
    text-decoration: underline;
}
code {
    background: #f1f1f1;
    font-family: "Consolas", "PT Mono", "Andale Mono", "Ubuntu Mono", "Menlo", "Courier New", "Courier", monospace;
}
